name: CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '*/10 * */1 * *'

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout latest main
      uses: actions/checkout@v3
    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Run app
      run: mvn clean install
    - name: checkstyle
      uses: dbelyaev/action-checkstyle@v0.5.1
      with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          level: warning
    - name: build and package
      run: mvn package
    - name: Upload jar file
      uses: actions/upload-artifact@v3
      with:
        name: BankSystem.jar
        path: target/bank-system-1.0-SNAPSHOT.jar
    - name: upload checkstyle
      uses: actions/upload-artifact@v3
      with:
        name: CheckstyleResult.xml
        path: target/checkstyle-result.xml